{{ define "main" }}
<h1 class="text-3xl mt-3 mb-6 font-bold dark:text-white">{{ .Title }}</h1>
{{ $perRow := 8 }}

<style>
    /* Progressively enhance the JS-only form from a disabled-ish state */
    filter-container:not(:defined) form {
        opacity: .4;
        pointer-events: none;
    }

    dct-filter-option {
        legend {
            background: grey;
            display: inline-block;
            padding: 0.25rem 0.5rem;
            width: 100%;

            @media screen and (min-width: 1025px) {
                max-width: 10vw;
            }
        }

        @media screen and (min-width: 1025px) {
            legend, label, label > input, label > select {
                height: calc(1.5rem + 2*0.5rem);
            }
        }
        label > input, label > select {
            width: 100%;
        }

        legend + * {
            width: 100%;
            padding: 0 0.5rem !important;
        }

        input[type="text"], select {
            padding-left: 0.5rem;
        }

        legend + div {
            display: flex;
            flex-wrap: wrap;
            column-gap: .5rem;
        }

        label {
            display: flex;
            align-items: center;
            padding: .25rem 0;
        }

        [type='checkbox']:not(:checked) + span {
            background-color: gray;
        }
    }

    .card-list {
        gap: 2rem;
    }

    dct-card {
        display: flex;
        align-items: center;
    }

    .card_details--feature {
        text-align: justify;
    }

    [data-popover]:not(.visible) {
        /**
         * Make sure popover are hidden properly
         */
        display: none;
    }
    [data-popover][data-popper-placement="left"] > .flex {
        flex-direction: row-reverse;

        .cardoverlay-image {
            order: 2;
        }
    }


    :root {
        --dct-card-filters-grid-columns: 2;
    }
    @media screen and (max-width: 1024px) {
        :root {
            --dct-card-filters-grid-columns: 1;
        }
        .dct-card-shown {
            overflow: hidden;
        }
        [data-popover] {
            width: 100%;
            z-index: 10001;

            &.visible {
                position: fixed !important;
                overflow-y: scroll;
                inset: 0 !important;
                transform: unset !important;
                background: url('/img/tiles.png') repeat;
            }

            &[data-popper-placement="left"] > .flex {
                flex-direction: column-reverse !important;
            }

            > .flex {
                flex-direction: column !important;
                align-items: center !important;
                > div {
                    min-width: unset !important;
                    max-width: unset !important;
                }

                img {
                    width: auto;
                    margin: 1rem;
                    max-height: 400px;
                }
            }
        }

        [data-popper-arrow] {
            display: none;
        }
    }
</style>

<filter-container oninit delimiter="," filter-mode="any" filter-match-mode="contains">
    <form class="dark:bg-black">
        {{ partial "dct-card-filters.html" (dict "Site" site) }}
    </form>
    <h2 class="text-2xl my-3 font-bold dark:text-white"><span data-filter-results="card/cards" aria-live="polite"></span></h2>

    <div class="card-list flex flex-wrap justify-start mt-4">
        {{ $counter := 0 }}
        {{ range site.Data.cards_ja }}
        {{ $card := . }}
        {{ $title := or (T (printf "cards.%s.title" .card_num )) .title }}
        {{ $type := or (T (printf "types.%s" .type )) .type }}
        {{ $product := or (T (printf "products.%s" .package )) .package }}
        {{ $color := or (T (printf "colors.%s" .color )) .color }}
        {{ $feature := or (T (printf "cards.%s.feature" $card.card_num )) $card.feature }}

        {{ $categories := slice }}
        {{range .categories}}{{ $categories = $categories | append (or (T (printf "categories.%s" . )) .) }}{{end}}

        {{ $popoverLeft := ge (mod $counter $perRow) (sub $perRow 3) }}
        {{ with or (resources.Get (printf "cards/%.0f.ja.jpg" .id)) (resources.Get "img/fallback.jpg") }}
            {{ with .Resize "300x" }}
                <dct-card
                        popover-placement="{{ if $popoverLeft }}left{{ else }}right{{ end }}"
                        id="{{ printf "%.0f" $card.id }}"
                        image="{{ .RelPermalink }}"
                        title="{{ $title }}"
                        card-num="{{ $card.card_num }}"
                        promo-details="{{ $card.promo_details }}"
                        type="{{ $type }}"
                        feature="{{ $feature }}"
                        product="{{ $product }}"
                        color="{{ $color }}"
                        rarity="{{ $card.rarity }}"
                        categories="{{delimit $categories ","}}"
                        cost="{{$card.cost}}"
                        ap="{{$card.ap}}"
                        lp="{{$card.lp}}"
                        illustrator="{{$card.illustrator}}"
                >
                </dct-card>
            {{ end }}
        {{ end }}
        {{ $counter = add $counter 1 }}
    {{ end }}
    </div>
</filter-container>

<script type="module" src="js/filter-container/filter-container.js"></script>
{{ end }}