<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}' class="dark">
    <head>
        <base href="{{ .Site.BaseURL }}" />
        {{- partial "head.html" . -}}
        {{ block "meta_tags" . }}{{end}}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <script type="text/javascript" src="js/flowbite/flowbite.js"></script>
        <script type="text/javascript" src="js/script.js"></script>

        <style>
            .prose {
                max-width: unset;
            }
        </style>
    </head>
    
    {{ if (or .IsPage .IsHome) }}
    <body class="bg-gray-100 flex flex-col min-h-screen dark:bg-black">
    {{ else }}
    <body class="flex flex-col min-h-screen dark:bg-warmgray-800">
    {{end}}
    {{- partial "header.html" . -}}
    <div style="background: url('/img/tiles-transparent.png') repeat;">
        <div class="container mx-auto max-w-10xl px-4 px-0-md my-5 flex-grow" id="content">
            {{- block "main" . }}{{- end }}
        </div>
    </div>
    {{- partial "footer.html" . -}}
    </body>
</html>