<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    <head>
        <base href="{{ .Site.BaseURL }}" />
        {{- partial "head.html" . -}}
        {{ block "meta_tags" . }}{{end}}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    </head>
    
    {{ if (or .IsPage .IsHome) }}
    <body class="bg-gray-100 flex flex-col min-h-screen dark:bg-black">
    {{ else }}
    <body class="flex flex-col min-h-screen dark:bg-warmgray-800">
    {{end}}
    <script type="text/javascript" src="js/script.js"></script>
        {{- partial "header.html" . -}}
        <div class="container mx-auto max-w-10xl px-4 px-0-md my-4 flex-grow" id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- block "before_footer" . }}{{- end }}
        {{- partial "footer.html" . -}}

    <script type="text/javascript" src="js/flowbite/flowbite.min.js"></script>
    </body>
</html>