{{ $card := .card }}
{{ $title := .title }}
{{ $color := .color }}
{{ $product := .product }}
{{ $categories := .categories }}
{{ $type := .type }}

{{ $feature := or (T (printf "cards.%s.feature" $card.card_num )) $card.feature }}

<div data-popover id="card-{{ $card.id }}" role="tooltip"
     class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-lg opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
>
    <div class="flex">
        {{ with resources.Get (printf "cards/%.0f.ja.jpg" $card.id) }}
        {{ with .Resize "300x" }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $title }} ({{ $card.card_num }})" style="max-width: unset;">
        {{ end }}
        {{ end }}

        <div style="min-width: 450px;" class="bg-white dark:bg-warmgray-800 dark:text-white">
            <div class="px-2 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700 flex justify-between">
                <h3 class="font-semibold text-gray-900 dark:text-white text-lg">{{ $title }}</h3>
                <button>x</button>
            </div>
            <div class="px-2 py-2">
                <div class="flex justify-between">
                    <div class="text-start font-bold">Card ID</div>
                    <div class="text-end">{{ $card.card_num }}</div>
                </div>
                <div class="flex justify-between">
                    <div class="text-start font-bold">Card Category</div>
                    <div class="text-end">{{ $type }}</div>
                </div>
                {{ if ne $type "Case" }}
                <div class="flex justify-between">
                    <div class="text-start font-bold">Effect</div>
                    <div class="text-end card_details--feature">{{ if $feature }}{{ $feature|markdownify }}{{ else }} – {{ end }}</div>
                </div>
                {{ end }}
                <div class="flex justify-between">
                    <div class="text-start font-bold">Product</div>
                    <div class="text-end">{{ $product }}</div>
                </div>
                <div class="flex justify-between">
                    <div class="text-start font-bold">Color</div>
                    <div class="text-end">{{ $color }}</div>
                </div>
                <div class="flex justify-between">
                    <div class="text-start font-bold">Rarity</div>
                    <div class="text-end">{{ $card.rarity }}</div>
                </div>
                {{ if eq $type "Character" }}
                <div class="flex justify-between">
                    <div class="text-start font-bold">Categories</div>
                    <div class="text-end">{{delimit $categories ", "}}</div>
                </div>
                {{ end }}
                {{ if or (eq $type "Character") (eq $type "Event") }}
                <div class="flex justify-between">
                    <div class="text-start font-bold">Cost</div>
                    <div class="text-end">{{ $card.cost }}</div>
                </div>
                {{ end }}
                {{ if eq $type "Character" }}
                <div class="flex justify-between">
                    <div class="text-start font-bold">AP</div>
                    <div class="text-end">{{ $card.ap }}</div>
                </div>
                {{ end }}
                {{ if or (eq $type "Character") (eq $type "Partner") }}
                <div class="flex justify-between">
                    <div class="text-start font-bold">LP</div>
                    <div class="text-end">{{ $card.lp }}</div>
                </div>
                {{ end }}
                {{ if $card.illustrator }}
                <div class="flex justify-between">
                    <div class="text-start font-bold">Illustrator</div>
                    <div class="text-end">{{ $card.illustrator }}</div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <div data-popper-arrow></div>
</div>