<footer class="bg-white dark:bg-warmgray-800 dark:text-white pt-10 pb-12">
  <div class="container mx-auto px-4">
    <p>
        Website &copy; by <a href="https://twitter.com/saitho95" target="_blank">saitho</a> (<a href="https://github.com/saitho/conantcg-english" target="_blank">Open Source on GitHub</a>). Detective Conan &copy; by Gosho Aoyama/Shogakukan (青山 剛昌/小学館). Detective Conan TCG &copy; by TOMY.<br/>
        All rights of images belong to their rightful owners. This is a fan website for the Detective Conan Trading Card Game and not affiliated with Gosho Aoyama, Shogakukan or TOMY.<br/>
        Please support the <a href="https://www.takaratomy.co.jp/products/conan-cardgame/" target="_blank">official card game</a>!<br/>
    </p>
  </div>
</footer>
<script>
  function toggleNav() {
      var hamburger = document.getElementById("hamburgerbtn");
      var overlay = document.getElementById("overlay");
      var body = document.body;

      hamburger.addEventListener("click", function () {
          overlay.classList.toggle("open");
          hamburger.classList.toggle("is-open");
          body.classList.toggle("scroll-lock");
      });
  }
  toggleNav();
</script>
